.footer {
  padding: 3rem;
  background-color: #000000;
  text-align: center;
  color: #fff;
}

.footer-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;  
  text-align: center;
  border-top: 1px solid;
  border-color: #B3B3B3;
  padding-top: 51px;
}

.footer-items{
  background-color: #000000;
  position: relative;
  display: flex; 
  flex-direction: column; 
  text-align: left;
  gap: 16px; 
}

.footer-items .head{
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.34;
}

.footer-items .key-words{
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.sign{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 50px;
}

.sign p{
  font-size: 24px;
  color: white;
  margin: 0%;
}

.sign img{
  width: 37.38px;
  height: 39.04px;
}

.copyrights {
  margin: 0;
  font-size: 16px;
  color: #A0A0A0;
  opacity: 0.36;
  text-align: left;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .footer-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 24px;  
    text-align: center;
    border-top: 1px solid;
    border-color: #B3B3B3;
    padding-top: 51px;
    width: 282px;
  }

  .footer {
    padding: 3rem;
    padding-left: 80px;
    padding-right: 80px;
  }
}
